<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Super site - {{ title }} de {{ username }}</title>
    <link rel="stylesheet" href="{{ css }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#add_pkmn").click(function() {
                event.preventDefault();
                $("#add_pkmn_form").toggleClass("hide");
            });
        });
    </script>
</head>
<body>
<header>
    <form action="/logout" method="post">
        <input type="submit" value="Déconnexion">
    </form>
    <p>Attraper les tous !!!</p>
</header>
<p>Bonjour {{username}} !</p>
<form id="pokedex_form">
    <p>C'est ton pokedex personel</p>
    <p>{{ badAttempt }}</p>
    <input type="submit" value="Ajouter un pokemon" id="add_pkmn">

</form>
<form id="add_pkmn_form" method="post" class="hide">
    <input type="hidden" name="username" id="username" value="{{ username }}">
    <p>Tous les champs excepté le type 2 doivent être renseignés</p>
    <div>
        <label for="pkmn_name">Nom du pokemon : </label>
        <input type="text" name="pkmn_name" id="pkmn_name" placeholder="Dracaufeu">
    </div>
    <div>
        <label for="pkmn_picture_url">url de l'image : </label>
        <input type="url" name="pkmn_picture_url" id="pkmn_picture_url" placeholder="https://image.trop.bien">
    </div>
    <div>
        <label for="pkmn_type1">type 1 du pokemon : </label>
        <input type="text" name="pkmn_type1" id="pkmn_type1" placeholder="feu">
    </div>
    <div>
        <label for="pkmn_type2">type 2 du pokemon : </label>
        <input type="text" name="pkmn_type2" id="pkmn_type2" placeholder="vol">
    </div>
    <input id="home_formulaire_submit" type="submit" value="Envoyer">
</form>


<h1>Pokedex</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Image</th>
        <th>Type 1</th>
        <th>Type 2 (facultatif)</th>
    </tr>
    </thead>
    <tbody>
    {% for pokemon in pokemons %}
        <tr>
            <td>{{ pokemon.id }}</td>
            <td>{{ pokemon.pkmn_name }}</td>
            <td><img class="pokemon_picture" src="{{ pokemon.pkmn_picture_url }}" alt="{{ pokemon.pkmn_name }}"></td>
            <td>{{ pokemon.pkmn_type1 }}</td>
            {% if pokemon.pkmn_type2 %}
                <td>{{ pokemon.pkmn_type2 }}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>